.cart {
  padding: 6px;
  position: relative;
  &-top {
    cursor: pointer;
    padding-left: 16px;
    position: relative;
    span {
      color: yellowgreen;
      font-size: 13px;
    }
    &:before {
      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-top-color: #fff;
      left: 0;
      top: 8px;
    }
  }
  &-bottom {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    color: #333;
    width: 400px;
    .cart-item {
      display: flex;
      margin-bottom: 4px;
      padding-bottom: 4px;
      border-bottom: 1px solid #ccc;
      position: relative;
      .image {
        width: 70px;
        height: 70px;
        border: 1px solid #ccc;
        margin-right: 10px;
        flex-shrink: 0;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .content {
        width: 100%;
        .change-piece {
          display: flex;
          div {
            padding: 10px;
            cursor: pointer;
          }
        }
      }
      .delete {
        width: 20px;
        height: 20px;
        background-color: #333;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        border-radius: 5px;
        &:before,
        &:after {
          content: '';
          background-color: #fff;
          width: 3px;
          height: 12px;
          position: absolute;
          left: 8px;
          top: 4px;
          border-radius: 3px;
        }
        &:before {
          transform: rotate(-45deg);
        }
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  &.active {
    .cart-top {
      &:before {
        transform: rotate(180deg);
        top: 2px;
      }
    }
    .cart-bottom {
      display: block;
    }
  }
}