.left-block {
  min-height: calc(100vh - 36px);
  overflow-y: auto;
  background: #eee;
  width: 30%;
  max-width: 400px;
  .left-block-inside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .change-theme-item {
      cursor: pointer;
    }
  }
}