.App {
  &.light {
    background-color: $light-bg;
    color: $dark-color;
  }
  &.dark {
    background-color: $dark-bg;
    color: $light-color;
    .left-block {
      background-color: $dark-bg;
    }
  }
}
