.product-price {
  margin-top: 10px;
}

.add-cart {
  background-color: yellowgreen;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
}