.header {
  background-color: #282c34;
  align-items: center;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  height: 36px;
  .main-menu {
    a {
      color: #fff;
      display: block;
      padding: 6px;
      &.active {
        color: yellowgreen;
      }
    }
  }
}