.showcase {
  width: 300px;
  max-width: 33%;
  border: 2px solid #868686;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
  &-image {
    height: 296px;
    background-color: #eaeef1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      max-width: 80%;
      max-height: 80%;
    }
  }
  &-info {
    padding: 10px;
  }
  &-name {
    margin-bottom: 5px;
  }
  &-price {
    font-weight: 700;
    font-size: 15px;
  }
  &-buttons {
    margin-top: 10px;
    a {
      display: inline-block;
      padding: 5px 10px;
      background: antiquewhite;
      margin-right: 5px;
      border-radius: 5px;
    }
  }
}
